.banner{
    background-image: url(../assets/img-home/banner/Hero.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#ffffff;
    height: 18vh;
    padding:2em 1.2em;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}


.lista-botao{
    margin-top: 1.5em;
}

.banner__titulo{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.banner__texto, .banner__botao{
    font-size: 14px;
    font-weight: 600;
}

.banner__botao{
    text-decoration: none;
    padding: 1em 1.5em;
    background-color: var(--azul-principal);
    color: #ffffff;
}

@media screen and (min-width:1024px){
    .banner{
        height: 35vh;
        padding:3em 5em;
    }

    .banner__titulo{
        font-size: 52px;
    }

    .banner__texto{
        font-size: 22px;
    }

    .lista-botao{
        margin-top: 2em;
    }
}

@media screen and (min-width:1440px){
    .banner{
        height: 30vh;
        padding:4em 9em;
    }

    .banner__botao{
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
    }
}


